* {
  background: #0082c8;
  text-align: center
}

input[type=text] {
  -webkit-text-fill-color: whitesmoke;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: black
}

input[type=password] {
  -webkit-text-fill-color: whitesmoke;
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: black
}

button[type=submit] {
    font-size: 16px;
    font-weight: 400 !important;
    background-color: black;
    color: whitesmoke;
    padding: 10px 23px;
    margin: auto;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    border: 0px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
}

h2 {
  color: whitesmoke;  
}

button {
  font-size: 16px;
    font-weight: 400 !important;
    background-color: black;
    color: whitesmoke;
    padding: 10px 23px;
    margin: auto;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    border: 0px;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
}

li {
  background: whitesmoke;
  margin: 5px;
  padding: 5px;
  width: 15%;
  text-align: center;
}